<div class="header-outer">
    <div class="header">
        <h1>{{#link-to "index"}}<img src="images/logo.png" alt="" />{{/link-to}}</h1>
        <div class="nav">
            <a href="#" class="menu active"></a>
            <div class="dropMenu">
                <h2>Browse Categories</h2>
                <ul>
                {{#each categories}}
                    <li><a href="#">{{name}}</a>
                        <ul>
                        {{#each subcategories}}
                            <li><a href="#">{{this}}</a></li>
                        {{/each}}
                        </ul>
                    </li>
                {{/each}}
                </ul>
            </div>
        </div><!--Navigation-->
        <span class="sep"></span>
        <div class="search">
            <span>
                <select name="cate1" id="cate1" tabindex="1">
                {{#each categories}}
                    <option>{{name}}</option>
                {{/each}}
                </select>
            </span>
            <input type="text" value="Search entire site..." onclick="if (this.defaultValue==this.value) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue" />
            <input type="submit" value="&nbsp;" />
        </div><!--Search Products-->
        <div class="cart">
            <span id="output">{{cart_size}}</span>
        </div><!--Cart-->
        <div class="clr"></div>
    </div>
</div>

{{outlet}}

<div class="footer-outer">
    <div class="footer">
        <div class="footer-left">
            <ul>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <p>Copyright &copy; 2014 Amasing.co | All Right Reserved</p>
        </div>
        <div class="social">
            <a href="#"><img src="images/facebook.jpg" alt="" /></a>
            <a href="#"><img src="images/twitter.jpg" alt="" /></a>
            <a href="#"><img src="images/google-plus.jpg" alt="" /></a>
            <a href="#"><img src="images/linkedin.jpg" alt="" /></a>
            <a href="#"><img src="images/mail.jpg" alt="" /></a>
            <a href="#"><img src="images/rss.jpg" alt="" /></a>
        </div>
        <div class="clr"></div>
    </div>
</div>

<div class="cart-pop">
    <h6><span>My Cart</span></h6>
    <div class="product-scroll">
        <ul>
        {{#each cart_items}}
            <li class="li">
                <div class="col1">
                    <div class="imgBx">
                        <img src="images/{{unbound image}}" alt="" />
                    </div>
                    <span class="del">DELETE</span>
                </div>
                <h5>{{name}}</h5>
                <div class="col2">
                    <b>{{price}}</b>
                    <span>{{weight}}</span>
                    <small>QTY</small>
                    <select>
                        <option>{{quantity}}</option>
                    </select>
                </div>
                <div class="clr"></div>
            </li>
        {{/each}}
        </ul>
        <script type="text/javascript">
            $('.del').on('click', function(){
                $(this).closest('li').fadeOut('slow');
            });
        </script>
    </div><!--Scroller-->
    <div class="cartInfo">
        <div class="gryBx">
            <div class="info">
                <b>Total Cart Value:</b>
                <strong>$270.00</strong>
                <div class="clr"></div>
            </div>
            <div class="info">
                <b><img src="images/red-dot.png" alt="" /> Cart Weight:</b>
                <strong class="grn">20 lbs</strong>
                <div class="clr"></div>
            </div>
        </div>
        <div class="amazonBx">
            <ul>
                <li>Cart too heavy</li>
                <li>Min spend not met</li>
                <li>Cart > 400 SGD</li>
            </ul>
            <img src="images/amazon-btn.png" alt="" class="right" />
            <div class="clr"></div>
        </div>
        <div class="value-slider" id="line-slider1">
            <input class="js-step1" type="text">  
            <div id="js-display-decimal1" class="display-box"></div>
        </div>
        <div class="value-slider" id="line-slider2">
            <input class="js-step2" type="text">
            <div id="js-display-decimal2" class="display-box"></div> 
        </div>
        <div class="attention">
            <div class="att">
                <h5>Attention !</h5>
                <ul>
                    <li>Cart weight becomes over 20 lbs by adding products</li>
                    <li>Cart total volume becomes over SGD 320</li>
                </ul>
            </div>
        </div><!--/Attention-->
    </div>
    <div class="clr"></div>
</div>
<!--Footer-->

<div class="white-bg"></div>
<div class="cartbg"></div>

<!--User Guide-->
<div class="user-guide-outer" style="visibility: hidden;">
    <div class="guide-wrpr">
        <h6>Welcome To Amasing</h6>
        <div class="guideIn">
            <p>Three Steps  to introduce to the site</p>
            <ul class="bxslider">
                <li>
                    <h4>Step 1</h4>
                    <div class="imgLf" style="height:150px;">
                        
                    </div>
                    <div class="postB">
                        <p>Search or Browse items that qualify for free shipping to SG.</p>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                    <h4>Step 2</h4>
                    <div class="imgLf" style="height:150px;">
                        
                    </div>
                    <div class="postB">
                        <p>Search or Browse items that qualify for free shipping to SG.</p>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                    <h4>Step 3</h4>
                    <div class="imgLf" style="height:150px;">
                        
                    </div>
                    <div class="postB">
                        <p>Search or Browse items that qualify for free shipping to SG.</p>
                    </div>
                    <div class="clr"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--User Guide-->

<script type="text/javascript" src="scripts/js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript">
    $(function () {
        $("#cate1").selectbox();
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#cate2").selectbox();
    });
</script>

<script src="scripts/js/plugins.js"></script>
<script src="scripts/js/custom.js"></script>
<script src="scripts/js/powerange.js"></script>
<script src="scripts/js/jquery.elevatezoom.js"></script>
<script src="scripts/js/jquery.bxslider.js"></script>
<script src="scripts/js/jquery.raty.min.js"></script>
<script src="scripts/js/bx/jquery.bxslider.min.js"></script>
<script language="javascript">
    $(document).ready(function(){
        $('.bxslider').bxSlider();
    });
</script>
