<div class="wrapper">
    <div class="brdcrb">
        <select name="cate2" id="cate2" tabindex="2">
        {{#each categories}}
            <option>{{name}}</option>
        {{/each}}
        </select>
        <div class="results">
            <small>1 - 15 of 1,234,567 results</small>
            <div class="sort">
                Short by : <span>Highest Price</span>
            </div>
        </div>
        <div class="clr"></div>
    </div><!--/Bread Crumb-->
    <div class="home-product">
        <h1 id="cats"></h1>
        <ul>
        {{#each products}}
            <li>
                <div class="productBx">
                    <img src="images/product-0{{unbound id}}.jpg" alt="" />
                </div>
                <div class="info">
                    <p>{{title}}</p>
                    <b>{{price}}</b>
                </div>
                <div class="infoBx">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    {{#link-to 'product' this class="view"}}View Details{{/link-to}}
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
        {{/each}}
        </ul>
        <script language="javascript">
            $('.add').click(function() {
                $('#output').html(function(i, val) { return val*1+1 });
            });
        </script>
        <div class="clr"></div>
        <div class="loadBx">
            <span>Load More Products</span>
        </div>
    </div><!--Product List-->
    <div class="footage">
        <div class="fBox">
            <h2>Navigate</h2>
            <ul>
                <li><a href="#">Search Product</a></li>
                <li><a href="#">Best Seller</a></li>
                <li><a href="#">Browse Category</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="fBox">
            <h2>Support</h2>
            <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">FAQ/Help</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="footer-hide"></div>
        <div class="fBox">
            <h2>Shopping</h2>
            <ul>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Shipping Info</a></li>
                <li><a href="#">Payment &amp; Security</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="fBox">
            <h2>Account</h2>
            <ul>
                <li><a href="#">My Cart</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="clr"></div>
        <ul class="fnav">
            <li><a href="#">Navigate</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Shopping</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </div><!--/Footage-->
</div>
